textarea{
    width:80%;
    display: block;
    margin-left: 10%;
    
    height: 10vh;
}

#output{
        border:1px solid black;
        width:80%;
        display: block;
        margin-left: 10%;
        
        height: 10vh;
    
}